<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/style.css" rel="stylesheet" />
    <title>SportsStore</title>
</head>
<body>
    @RenderBody()
</body>
</html>
